In [83]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
#to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [87]:
df = pd.read_json ("package.json")

In [88]:
df.head()

                                              tweets
0  {'id': 1, 'texto': 'La tecnología de la realid...
1  {'id': 2, 'texto': 'Apple anuncia el lanzamien...
2  {'id': 3, 'texto': 'Google presenta su nuevo a...
3  {'id': 4, 'texto': 'La empresa de tecnología S...
4  {'id': 5, 'texto': 'El nuevo dron de DJI es ca...

In [92]:
df.tail()

                                               tweets
20  {'id': 21, 'texto': 'La tecnología de la nube ...
21  {'id': 22, 'texto': 'La tecnología de la reali...
22  {'id': 23, 'texto': 'La tecnología de los dron...
23  {'id': 24, 'texto': 'La tecnología de la intel...
24  {'id': 25, 'texto': 'La tecnología de la biome...

In [89]:
df.describe()

                                                   tweets
count                                                  25
unique                                                 25
top     {'id': 1, 'texto': 'La tecnología de la realid...
freq                                                    1